<div class="main-content">
    <div class="sidenav">
        <div class="login-user">
            <img src="/assets/img/prasad.jpg" width="30px">
            <p class="no-margin">{{loggedInDetails.name}}</p>
            <p class="no-margin">9766256478</p>
            <button type="button" class="logout" (click)="logout()">Logout</button>
        </div>
        <a routerLink="home">
            Home
        </a>

        <a routerLink="about-us">
            About Us
        </a>
        <a routerLink="student">
            Student
        </a>
        <a routerLink="preAdmission">
            Pre-Admission
        </a>
        <a routerLink="employee">
            Employee
        </a>
        <a>
            <span (click)="showSubMenu()" class="">Exam</span>
            <ul *ngIf="subMenu">
                <li> <a routerLink="exam/exam">Exam List </a></li>
                <li><a routerLink="exam/exam-grade">Exam Grade </a></li>
            </ul>
        </a>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>