
.login-user {
    float: right;
    width: 147px;
}

.login-user  p{
    color: #fff;
}

ul li {
    list-style-type: none;
}

img {
    float: left;
    margin-right: 10px;
}



.content {
        margin-left: 160px;
    padding: 36px;
    margin-top: 36px;
}

.horizontalNav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 6px 0px 6px 10px;
    background-color: #111;
}
.sidenav {
    width: 160px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 6px 0px 6px 10px;
    background-color: #111;
}

.right-padding {
    padding-right: 10px; 
}
.left-margin {
    margin-left: 3.5rem
}
.svg-inline--fa.fa-fw {
    width: 2.25em;
}
.sidenav a {
    display: block;
    padding: 16px 8px 16px 8px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.no-margin {
    margin: 0;
}
