<div id="login">
    <form #f="ngForm" (ngSubmit)="login(f)" novalidate>
        <div>
            <label>Username</label>
            <input type="text" name="username" [(ngModel)]="username" #ctrl="ngModel">
        </div>

        <div>
            <label>Password</label>
            <input type="password" name="password">
        </div>
        <div>
            <label>Role</label>
            <select (change)="roleSelected($event)"  name="role" [(ngModel)]="role" #ctrl="ngModel">
                <option value="student">Student</option>
                <option value="admin">Admin</option>
            </select>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
    <ng-content></ng-content>
</div>