<div id="login" class="well">
    <form #f="ngForm" (ngSubmit)="login(f)" novalidate class="form-horizontal">
        <div  class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="username" #ctrl="ngModel">
        </div>

        <div  class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" name="password">
        </div>
        <div  class="form-group">
            <label>Role</label>
            <select class="form-control" (change)="roleSelected($event)"  name="role" [(ngModel)]="role" #ctrl="ngModel">
                <option value="student">Student</option>
                <option value="admin">Admin</option>
            </select>
        </div>
        <div  class="form-group">
            <button type="submit"  class="btn btn-primary center-block" >Login</button>
        </div>
    </form>
    <ng-content></ng-content>
</div>